<div class="text-sm text-center">
  <% if controller_name != 'sessions' %>
    <%= link_to "Sign in", new_session_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
  <% end %>

  <% if devise_mapping.registerable? && controller_name != 'registrations' %>
    <% if controller_name != 'sessions' %>
      <span class="text-gray-500">•</span>
    <% end %>
    <%= link_to "Sign up", new_registration_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
  <% end %>

  <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <% if controller_name != 'sessions' || controller_name != 'registrations' %>
      <span class="text-gray-500">•</span>
    <% end %>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
  <% end %>

  <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <% if controller_name != 'sessions' || controller_name != 'registrations' || controller_name != 'passwords' %>
      <span class="text-gray-500">•</span>
    <% end %>
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
  <% end %>

  <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <% if controller_name != 'sessions' || controller_name != 'registrations' || controller_name != 'passwords' || controller_name != 'confirmations' %>
      <span class="text-gray-500">•</span>
    <% end %>
    <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
  <% end %>

  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <% if controller_name != 'sessions' || controller_name != 'registrations' || controller_name != 'passwords' || controller_name != 'confirmations' || controller_name != 'unlocks' %>
        <span class="text-gray-500">•</span>
      <% end %>
      <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
    <% end %>
  <% end %>
</div>